<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online Bookstore</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <!--This contains the cart summary for when the user isn't on the cart page-->
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">ONLINE BOOK STORE</div>
                <div class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1 p-1">
        <div id="categories" class="col-4">
            <h1 class="text-center">Welcome to the Online Bookstore</h1>
            <br />
            <div class="alert alert-primary" role="alert">
                <strong>Notice: </strong>This site is still being developed; thank you for your patience!
            </div>
            
            <!--Bringing in the view component-->
            <vc:navigation-menu />

        </div>
        <div class="col-8">
            @RenderBody()
        </div>
    </div>
    <br /><br />
</body>
</html>
