<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online Bookstore</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Assignment #6 - Online Bookstore</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-4">
            <h1 class="text-center">Welcome to the Online Bookstore</h1>
            <br />
            <div class="alert alert-primary" role="alert">
                <strong>Notice: </strong>This site is still being developed; thank you for your patience!
            </div>
            
            <!--Bringing in the view component-->
            <vc:navigation-menu />

        </div>
        <div class="col-8">
            @RenderBody()
        </div>
    </div>
    <br /><br />
</body>
</html>
