@{
    ViewData["Title"] = "Home Page";
}

<!--Tells View what data type to expect Model data passed in controller to be in-->
<!--BookListViewModel compiles info from multiple models-->
@model BookListViewModel

<!--For each Book in the Model, add styling and print out property information-->
<!--Have to specify which property of the Model; Books or PagingInfo-->
@foreach (var x in Model.Books)
{
    //Use the partial view, send "x" as the Model (contains data for a single Book instance)
    <partial name="BookSummary" model="x" />
}

<!--Implement dynamically built navigation bar using tag helper using "page-model" attribute-->
<div page-model="@Model.PagingInfo" page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>




